
body{
	font-family: helvetica;
	margin: 0;
}

a{
	text-decoration: none;
	color: rgb(20, 20, 20);
}

.header{
	background-color: #fff;
	position: fixed;
	height: 60px;
	width: 100vw;
	min-height: 60px;
	z-index: 100;
}

.header h1{
	position: fixed;
	right: 10vw;
	font-size: 4em;
	font-weight: normal;
	background-color: #fff;
	z-index: 10;
	margin: 0;
	margin-top: 10px;
}

.logo div a{
	color: rgb(157, 10, 21);
	opacity: 0.3;
	padding-left: 33px;
	padding-top: 5px;
	width: 200px;
	display: inline-block;
}

.logo div a:hover{
	opacity: 1.0;
}

div.logo div{
	width: 30px;
	position: fixed;
	background-color: rgb(157, 10, 21);
}

div.logo div:nth-child(1){
	left: 85vw;
	background-color: rgb(20, 20, 20);
	min-height: 60px;
}

div.logo div:nth-child(2){
	left: 15vw;
}

div.logo div:nth-child(3){
	left: 35vw;
}

div.logo div:nth-child(4){
	left: 55vw;
}

div.logo div:nth-child(5){
	left: 75vw;
}

div.logo div:nth-child(6){
	background-color: rgb(20, 20, 20);
	left: 0vw;
	width: 100vw;
}

#fakecontent{
	height: 100vh;
}

#services{
	padding-top: 100px;
	background-color: rgb(20, 20, 20);
	margin: 0;
	color:#fff;
	padding: 10px;
}

#services div{
	width: 45%;
	display: inline-block;
	padding: 10px;
}

#services h2,
#research h2,
#references h2{
	text-align: center;
	padding: 20px;
}

#services img{
	max-width: 100px;
	display: inline-block;
}

#references{
	background-color: rgb(60, 60, 60);
	color:#fff;
	text-align: center;
	padding-bottom: 30px;
}

#references h2{
	margin-top: 0px;
}

#references h3{
	text-align: left;
	padding-left: 20px;
}

#references .video-js{
	display: inline-block;
}

#research p{
	width: 50%;
	padding: 40px;
}

footer{
	background-color: rgb(20, 20, 20);
	min-height: 30px;
	color: #fff;
	padding: 30px;
}

footer div:nth-child(1){
	width: 50vw;
	display: inline-block;
}

footer img{
	width: 200px;
	vertical-align: middle;
}

footer p{
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 1.3em;
}

footer p a{
	font-size: 0.75em;
}
